@using Business_logic.Interfaces;
@model AdvertisementDto;
@inject IFavoritesService favService;

<div class="col">
	<div class="card h-100">
		<a asp-controller="Advertisements"
			asp-action="Details"
			asp-route-id="@Model.Id"
			asp-route-returnUrl="@Context.Request.Path">
			<img src="@Model.AdvertisePictures.FirstOrDefault(p => p.IsMainPicture == true)?.URL" class="card-img-top" alt="Image Url"/>
		</a>
        <div class="card-body">
            <h5 class="card-title">
                <a class="title-link"
                   asp-controller="Advertisements"
                   asp-action="Details"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@Context.Request.Path">
                    @Model.Title
                </a>
            </h5>
            <p class="card-text">
                @Model.Price$<br />
                @Model.CategoryName
            </p>
        </div>
        <div class="card-footer">
            @if (favService.IsExists(Model.Id))
            {
                <a asp-controller="Favorite" asp-action="Remove" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary">Remove from favorites</a>
            }
            else
            {
                <a asp-controller="Favorite" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-primary">Add to favorites</a>
            }
        </div>
	</div>
</div>