@model List<Advertisement>;

<h1>Products List</h1>
<p>You can manage the available products here.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">City</th>
            <th scope="col">Status</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.Title</td>
                <td>@i.Price$</td>
                <td>@i.Category?.Name</td>
                <td>@i.City</td>
                <td>@i.AdvertisementStatus?.Name</td>
                <td>@i.User?.FirstName @i.User?.LastName</td>
                <td>
                    <a asp-controller="Advertisements" asp-action="Delete" asp-route-id="@i.Id">Delete</a>
                </td>
                <td>
                    <a asp-controller="Advertisements" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                </td>
                <td>
                    <a asp-controller="Advertisements" asp-action="Details" asp-route-id="@i.Id" asp-route-returnUrl="@Context.Request.Path">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>